/*Application styles could go here */
dialog {
    display: none;
}
dialog[open] {
    display: block;
}
dialog nav {
    float: right;
}
.empty {
    margin-left: .2em;
    maring-right: .2em;
}
a {
   cursor: pointer; 
}
.collapse.off {
    display: block;
}
#editorInput {
    z-index: 50;
    background-color: white;
    width: max-content;
    padding-right: 16px;
}
.text {
    text-align: justify;
}
.data {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: red;
}
.datacontainer {
    position: relative;
    color: blue;
    background: green;
    height: 400px;
}
.mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
.fixed-navbar {
    position: fixed;
    z-index:2;
}
.selected {
    background-color: yellow;
}
.toc {
    position: fixed;
    left: 10px;
    top: 0;
    bottom: 0;
    overflow: auto;
    overflow-y: scroll;
}
.input {
    position: fixed;
    left : 10px;
    visibility: hidden;
}
.input.toppos {
    top: 54px;
}
.active {
    cursor: pointer;
}
.fbutton {
    margin: 3px;
}
.positionLabel {
    width: 100px;
}
.positionClass {
    display: grid;
}
label.config {
    width: 150px;
}
#versions {
    height: 200px;
    width: 350px;
    overflow: scroll;
}
.newest {
    margin-left: 5px;
}
.newvalue {
    color: red;
}
.newvalue::before {
    content: attr(data-label);
}
.newvalue::after {
    content: attr(data-unit);
}