<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="Sat, 12 Oct 1991 05:00:00 GMT"/>

    <title data-template="config:app-title">exist_test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta data-template="config:app-meta"/>
    <link rel="shortcut icon" href="resources/images/exist_icon_16x16.ico"/>
    <link rel="stylesheet" type="text/css" href="resources/css/exist-2.2.css"/>
    <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
    <script type="text/javascript" src="resources/scripts/bootstrap.bundle.min.js"/>
    <script type="text/javascript" src="resources/scripts/constants.js"/>
    <script type="text/javascript" src="resources/scripts/menu.js"/>
</head>
<body id="grey-top" onunload="">
<div data-template="app:importData"/>
<div class="grey-bot">
    <div class="container" id="main-container">
        <div class="row">
            <div class="col-md-12" id="header">
                <a href="/" id="logo">eXistDB</a>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
                <div class="container-fluid g-0">
                    <a data-template="config:app-home" class="navbar-brand" href="./index.html">topoTEI</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"/>
                    </button>
                    
                </div>
                <div class="container-fluid g-0">
                    <a data-template="app:checkUpgrade" class="navbar-brand" href="./index.html">upgrade</a>
                    
                    
                </div>
            </nav>
        </div>
        <div id="content" class="row" style="padding-top: 1.5rem"/>
    </div>
</div>



<div class="container">
    <div class="text-end">
    <a id="poweredby" href="http://exist-db.org"/>
    </div>
    <div id="footer">
        <ul>
            <li>
                <a data-template="config:app-title" href="./index.html"/>
            </li>
            <li>
                <a data-template="config:app-version" href="./versions.html"/>
            </li>
        </ul>
        <div id="copyright">
            <p>Copyright Universität Basel 2023</p>
        </div>
    </div>
</div>
</body>
</html>